
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/** Navbar **/
nav.navbar-laravel{
    background: linear-gradient(135deg, #2890d2 0%, #566cd4 50%, #8549d5 100%);
    border-color: #dae0e5;
    margin-bottom: 32px;
}
nav.navbar-laravel .navbar-brand, .navbar-nav > li > a{
    color : #FFF !important;
    font-family: "Open Sans";
}
.navbar-laravel .navbar-nav > .open > a, 
.navbar-laravel .navbar-nav > .open > a:hover, 
.navbar-laravel .navbar-nav > .open > a:focus{
	background-color: transparent !important;
}
/** End Navbar **/

/** Cards **/
.card {
	border: none;
	box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
	margin-bottom: 30px;
}
.card .card-header {
	color: #555555;
    text-transform: capitalize;
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: inset 0 -1px #e3e8ee;
    font-size: 18px;
    background-color: #FFF;
    border-bottom: none;
    font-weight: bold;
}
/** End Cards **/
